h1{
    font-size: 2rem; 
}

h2{
    font-size:1rem;
}
h3{
    font-size: 1rem;
}
p{
    font-size: 1rem;
}

.paddedbox {
    padding: 10px 5px 3px 8px; 
    padding: 8px 12px;        
    padding: 10px;            
}

.header {
    padding: 60px;
    text-align: center;
    background: #8a2ec7;
    color: white;
    font-size: 2rem;
  }

.topnav {
    background-color: #8a2ec7;
    overflow: hidden;
}

a:visited { color: #A81CA5; }

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 1rem;
}

.topnav a.active {
    background-color: rgb(151, 150, 150);
    color: white;
}

.topnav a.active:hover {
    background-color: rgb(151, 150, 150);
    color: white;
}

.topnav a:hover {
    background-color: rgb(87, 31, 109);
    color: white;
}

.topnav a:visited {
    color: white;
}

a:link { 
    color: 2346C8; 
    font-size: 1rem;
} 

a:hover, a:focus { 
    color: #7C7EEF; 
}

a:active { color: #FF1A1A; } 


ul{
    font-size: 1rem;
}

ol{
    font-size: 1rem;
}

.floatleft {
    float: left; 
    width: 200px;
    padding: 20px 40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.floatright {
    float: right; 
    width: 200px;
    padding: 20px 40px;
}
.highlight {
    font-weight: bold;  
    color: white;
    font-size: 1.5rem;
    background:  #8a2ec7;
}

div.polaroid {
    width: 65%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(87, 31, 109);
    margin-bottom: 20px;
    margin-top: 20px
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }

  img{
      padding: 10px;
  }